table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: rgb(195, 195, 214)}

th {
    background-color:blue;
    color: white;
}